/dist/default/production/cps2key.X.production.hex
/dist/default/production/cps2key.X.production.cmf
/dist/default/production/cps2key.X.production.hxl
/build/default/production/main.i
/dist/default/production/cps2key.X.production.map
/dist/default/production/cps2key.X.production.elf
/build/default/production/main.d
/build/default/production/main.o
/cps2key.zip
/dist/default/production/cps2key.X.production.sym"dist\*" 
dist 
